/*main*/
.cards-container{
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.card{
    border:0;
    width:0;
    height: 0;
    padding: 0;
    margin: 0;
    outline: 0 solid #FF8C00;
    overflow: hidden;
    transition:all 0.5s, height 0.25s, width 0.4s;
}
.card-open{
    border:2px solid #cfcfcf;
    width: 300px;
    height: 360px;
    padding: 10px;
    margin: 0 10px 10px 0;
}
.card-name{
    font-size: 24px;
    font-weight: bold;
}
.card:hover{
    outline: 3px solid #FF8C00;
    outline-offset: 3px;
}